@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: SFProDisplay-light;
    src: url(../fonts/SFProDisplay/SF-Pro-Display-Light.otf);
}

@font-face {
    font-family: SFProDisplay-regular;
    src: url(../fonts/SFProDisplay/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: SFProDisplay-bold;
    src: url(../fonts/SFProDisplay/SF-Pro-Display-Bold.otf);
}